
<div class="homepage">

<div class="home">

<h1><span class="under">HOME</span></h1>


<h3>投稿を検索</h3>
<div class="search_container">
<form action="/kids" accept-charset="UTF-8" method="get">
        <input type="text" name="search" id="search" value="" placeholder="キーワード">
        <button name="button" type="submit" class="applications_searchbutton">
        <i class="fa-solid fa-magnifying-glass"></i>
        </button>
</form>
</div>
</div>

<div class="answer">
<h3><span class="under">検索結果</span></h3>
<br>
  <% @kids.each do |t| %>
    <br>
    <%= t.user.email %>
    <h1><span class="under"><%= t.name %></span></h1>
      <%= t.genre %>
      <br>
      <%= t.about %>

      <% if user_signed_in? %>
      <% if current_user.already_favorited?(t) %>
          <%= link_to kid_favorite_path(id: t.id, kid_id: t.id), method: :delete do %>
            <i class="fa-solid fa-apple-whole" style="color: #fa2934;"></i><%= t.favorites.count %>
          <% end %>
      <% else %>
          <%= link_to kid_favorites_path(id: t.id, kid_id: t.id), method: :post do %>
            <i class="fa-solid fa-apple-whole" style="color: #f9b9c9;"></i><%= t.favorites.count %>
          <% end %>
      <% end %>
  <% else %>
  <i class="fa-solid fa-apple-whole" style="color: #fa2934;"></i><%= t.favorites.count %>
  <% end %>
    <%= link_to "詳細へ", kid_path(t.id), class: "button6" %>
     <% if user_signed_in? && current_user.id == t.user_id %>

    <%= link_to "編集する", edit_kid_path(t.id), class: "button7" %>
  <br>
    <%= link_to kid_path(t.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button-delete' do %>
      <i class="fa-solid fa-trash fa-lg" style="color: #6A2C0B;"></i>
      <% end %>
      <br>
      <br>
      <% end %>
  <% end %>

<%= paginate @kids %>
</div>
</div>


