<head>
<link href="https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@400;700&family=Kosugi&display=swap" rel="stylesheet">
</head>
<div class="post-container">
    <p class="title"><span class="under">新規投稿</span></p>

<%= form_for @kid do |f| %>

    <%= f.label :食材名 %>
    <br>
    <%= f.text_field :name, :size => 30 %>
    <br>

  <%= f.label :食材分類 %>
  <br>
  <%= f.select :genre, 
  [["野菜", "野菜"], 
  ["果物", "果物"], 
  ["その他", "その他"]], include_blank: "選択して下さい" %>
  <br>

    <%= f.label :補足  %>
    <br>
    <%= f.text_area :about, :size => "30x2" %>
    <br>
    <br>
    </div>


<div class="actions">
<%= f.submit "投稿する", class: "button" %>
<% end %>
</div>

