<%= stylesheet_link_tag 'top', :media => "all" %>

<div class="nigate">
<h1><span class="under">子どもの好き嫌いに悩むお父さん、お母さんへ</span></h1>


<div class="slide-container">
 <div class="slide-wrapper">
 <%= image_tag "スライド1.jpg", class: "slide" %>
 <%= image_tag "スライド2.jpg", class: "slide" %>
 <%= image_tag "スライド3.jpg", class: "slide" %>
 </div>
 <div class="slide-wrapper">
 <%= image_tag "スライド1.jpg", class: "slide" %>
 <%= image_tag "スライド2.jpg", class: "slide" %>
 <%= image_tag "スライド3.jpg", class: "slide" %>
 </div>
 <div class="slide-wrapper">
 <%= image_tag "スライド1.jpg", class: "slide" %>
 <%= image_tag "スライド2.jpg", class: "slide" %>
 <%= image_tag "スライド3.jpg", class: "slide" %>
 </div>
</div>

</div>