<h1>苦手な食べ物</h1>
<h3>投稿詳細</h3>
<div class="post">
  <p><%= @post.name %></p>
  <p><%= @post.created_at %></p>
  <% if user_signed_in? %>
      <% if current_user.already_liked?(@post) %>
        <%= link_to post_like_path(@post), method: :delete do %>
          <i class="fas fa-heart"></i><%= @post.likes.count %>
        <% end %>
      <% else %>
        <%= link_to post_likes_path(@post), method: :post do %>
          <i class="far fa-heart"></i><%= @post.likes.count %>
        <% end %>
      <% end %>
    <% else %>
    <i class="far fa-heart"> <%= @post.likes.count %>
    <% end %>
    <%= link_to "編集する", edit_post_path(@post.id) %>
</div>

<h2>いいねしたユーザー</h2>
<% @post.liked_users.each do |user| %>
  <li><%= user.email %></li>
<% end %>

<%= link_to "投稿一覧に戻る", posts_path %>
